@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
*, html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    transition: 0.5s ease-out;
    font-family: "Roboto Serif", serif;
}
body{
    overflow-x: hidden;
    width: min(100%, 1500px);
    margin: auto;
}
:root{
    --grey-color: rgb(4, 20, 20);
}
body.light{
    color: black;
}
body.dark{
    color: white;
}

header {
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-around;
    position: relative;
    color: white;
    svg{fill: orange;}
}
header div{
    display: flex;
    align-items: center;
    gap: 10px;
}
header .main-logs{
    gap: 30px;
}
header .main-logs a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
header .main-logs a:hover{
    color: orange;
}
header .main-logs a:first-child{
    color: orange;
}
header svg{
    width: 40px;
    height: 40px;
}
header .order a{
    text-decoration: none;
    padding: 8px 28px;
    background: orange;
    border: 2px solid orange;
    color: white;
    border-radius: 20px;
    text-align: center;
}
header .order a:hover{
    background: none;
    color: orange;
}
header nav .openBtn{
    display: block;
    cursor: pointer;
}
header nav .openBtn:hover div{
    background: orange;
}
header nav .openBtn div{
    height: 2px;
    width: 25px;
    background: white;
    margin: 5px;
    border-radius: 5px;
    transition: transform 0.5s ease, opacity 0.5s ease;
}
header .menu{
    position: absolute;
    top: 100%;
    height: 0px;
    width: 100%;
    display: block;
    overflow: hidden;
    /* border: 2px solid orange; */
}
header .menu a{
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    margin: 5px 0;
    text-align: center;
    border: 1px solid transparent;
    text-transform: capitalize;
}
header .menu a:first-child,
header .menu a:hover{
    border: 1px solid orange;
    color: orange;
}


/* HEADER ANIMATIONS */
body.open header .menu{
    animation: openMenu 0.5s ease forwards;
}
@keyframes openMenu{
    to{height: 200px;}
}
body.open section:first-child .content{
    animation: openFirstSection 0.5s ease forwards;
}
@keyframes openFirstSection{
    to{margin-top: 200px;}
}

body.close header .menu{
    animation: closeMenu 0.2s ease forwards;
}
@keyframes closeMenu{
    from{height: 200px;}
    to{height: 0px;}
}
body.close section:first-child .content{
    animation: closeFirstSection 1s ease forwards;
}
@keyframes closeFirstSection{
    from{margin-top: 200px;}
    to{margin-top: 0px;}
}
body.open header nav .openBtn div:first-child{
    transform: translateY(5px) rotate(45deg);
}
body.open header nav .openBtn div:nth-child(2){
    opacity: 0;
}
body.open header nav .openBtn div:last-child{
    transform: translateY(-9px) rotate(-45deg);
}



/* MAIN FIRST SECTION */
main section:first-child{
    min-height: 80vh;
    height: 100vh;
    margin-top: -80px;
    background-position: center;
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    background-image: url('/static/images/pexels-daniel-reche-718241-1556688.jpg');
}
main section:first-child .container{
    display: grid;
    grid-template-columns: repeat(3, 100%);
    align-items: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
main section:first-child .container.to-second{
    animation: second 1s ease forwards;
}
@keyframes second{
    to{transform: translateX(-100%);}
}
main section:first-child .container.to-third{
    animation: third 1s ease forwards;
}
@keyframes third{
    to{transform: translateX(-200%);}
}
main section:first-child .content{
    color: white;
    width: min(80%, 750px);
    line-height: 1.5;
    padding-left: 8%;
    /* border: 2px solid red; */
}
main section:first-child .content h1{
    color: white;
    line-height: 1.2;
    font-weight: 500;
    font-variant: small-caps;
    font-size: 40px;
    text-shadow: 1px 1px 2px black;
}
main section:first-child .content h1 span{
    color: orange; 
    font-style: italic;
}
main section:first-child .content p{
    margin: 20px 0;
}
main section:first-child .content a{
    color: white;
    padding: 8px 40px;
    background: orange;
    border: 2px solid orange;
    border-radius: 20px;
    text-decoration: none;
    width: fit-content;
    display: block;
    margin-top: 20px;
    font-variant: small-caps;
}
main section:first-child .content a:hover{
    background: none;
    color: orange;
}


/* MAIN SECOND SECTION */
main section:nth-child(2) .cards{
    padding-top: 50px;
    width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
main section:nth-child(2) .cards .card{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    color: white;
    background: var(--grey-color);
}
main section:nth-child(2) .cards .card:hover img{
    scale: 1.1;
}
main section:nth-child(2) .cards .card a{
    display: flex;
    align-items: center;
    gap: 0px;
    padding: 8px 28px;
    background: orange;
    border: 2px solid orange;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    margin-top: 20px;
    width: fit-content;
}
main section:nth-child(2) .cards .card a:hover,
main section:nth-child(2) .cards .card a:hover svg{
    background: none;
    color: orange;
    fill: orange;
}
main section:nth-child(2) .cards .card p{
    font-size: 40px;
}
main section:nth-child(2) .cards .card p span{
    font-size: 20px;
    font-style: italic;
}
main section:nth-child(2) .cards .card h3{
    font-size: 30px;
    font-weight: 100;
    margin: 10px 0;
}
main section:nth-child(2) .cards .card img{
    width: 170px;
    object-fit: cover;
}
main section:nth-child(2) .cards .card .img-cont{
    border: 5px solid orange;
    border-radius: 50%;
    overflow: hidden;
}

main section:nth-child(2) .menu{
    padding-top: 100px;
}
main section:nth-child(2) .menu h3{
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    font-style: italic;
}
main section:nth-child(2) .menu .filters{
    width: fit-content;
    margin: auto;
    margin-top: 20px;
}
main section:nth-child(2) .menu .filters button{
    border: none;
    color: black;
    padding: 10px 20px;
    border-radius: 20px;
    background: none;
    cursor: pointer;
}
main section:nth-child(2) .menu .filters button:first-child,
main section:nth-child(2) .menu .filters button:hover{
    background: var(--grey-color);
    color: white;
}
main section:nth-child(2) .menu a#view{
    width: fit-content;
    padding: 8px 28px;
    background: orange;
    border: 2px solid orange;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    display: block;
    margin: 30px auto;
}
main section:nth-child(2) .menu a#view:hover{
    background: none;
    color: orange;
}
main section:nth-child(2) .menu .slides{
    padding-top: 50px;
    display: grid;
    width: 85%;
    margin: auto;
    gap: 20px;

    @media (width >= 30em){
        grid-template-columns: repeat(2, 1fr);
    }
    @media (width >= 70em){
        grid-template-columns: repeat(3, 1fr);
    }
}
main section:nth-child(2) .menu .slides .slide{
    background: var(--grey-color);
    color: white;
    border-radius: 10px;
    overflow: hidden;
}
main section:nth-child(2) .menu .slides .slide h4{
    font-size: 25px;
    font-weight: 500;
    color: orange;
}
main section:nth-child(2) .menu .slides .slide .slide-text{
    padding: 20px 30px;
}
main section:nth-child(2) .menu .slides .slide .slide-text p{
    line-height: 1.5;
    margin-top: 10px;
}
main section:nth-child(2) .menu .slides .slide .slide-text .price{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
main section:nth-child(2) .menu .slides .slide .slide-text  .price p{
    margin-top: 0;
}
main section:nth-child(2) .menu .slides .slide .slide-text .price svg{
    width: 40px;
    height: 40px;
    padding: 10px;
    background: orange;
    fill: white;
    border-radius: 50%;
}
main section:nth-child(2) .menu .slides .slide .img-cont{
    background: rgb(241, 236, 236);
    min-height: 200px;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 40px;
}
main section:nth-child(2) .menu .slides .slide .img-cont img{
    width: 40%;
    object-fit: cover;
    display: block;
    margin: auto;
}

@media screen and (max-width: 50em) {
    header .main-logs, header .order{
        display: none;
    }    

    /* SECOND SECTION */
    main section:nth-child(2) .cards{
        grid-template-columns: 1fr;
        width: 90%;
    }
    main section:nth-child(2) .cards .card h3{
        font-size: 25px;
    }
    main section:nth-child(2) .cards .card img{
        width: 130px;
    }
    main section:nth-child(2) .cards .card a{
        padding: 5px 20px;
        gap: 5px;
    }
    main section:nth-child(2) .menu .slides{
        grid-template-columns: 1fr;
        width: 90%;
    }
}

@media screen and (min-width: 50em) {
    header nav, header .menu{
        display: none;
    }    
}