@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
*, html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    transition: 0.5s ease-out;
    font-family: "Roboto Serif", serif;
}
body{
    overflow-x: hidden;
    width: min(100%, 1500px);
    margin: auto;
}
body[class="menu"] header .main-logs a:nth-child(2){
    color: orange;    
}
body[class="menu"] header .main-logs a:first-child{
    color: white;    
}
body[class="menu"] header .main-logs a:first-child:hover{
    color: orange;    
}

body[class="about"] header .main-logs a:nth-child(3){
    color: orange;    
}
body[class="about"] header .main-logs a:first-child{
    color: white;    
}
body[class="about"] header .main-logs a:first-child:hover{
    color: orange;    
}

body[class="book_a_table"] header .main-logs a:nth-child(4){
    color: orange;    
}
body[class="book_a_table"] header .main-logs a:first-child{
    color: white;    
}
body[class="book_a_table"] header .main-logs a:first-child:hover{
    color: orange;    
}

.loading{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: url('/static/images/pexels-daniel-reche-718241-1556688.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 6;
    filter: brightness(50%);
}
.loading::after{
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    /* transform: translate(-80%, -50%); */
    border: 5px solid white;
    border-top-color: orange;
    border-radius: 50%;
    animation: loading 1s linear infinite;
}
@keyframes loading{
    from{transform: rotate(0deg);}
    to{
        transform: rotate(360deg);
    }
}
.loading.fade{
    animation: fadeLoader 1s ease forwards;
}
@keyframes fadeLoader{
    from{opacity: 1;}
    to{opacity: 0; pointer-events: none;}
}

:root{
    --grey-color: rgb(41, 44, 44);
}
body.light{
    color: black;
}
body.dark{
    color: white;
}

header {
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-around;
    position: relative;
    color: white;
    position: sticky;
    top: 0;
    z-index: 3;
    background: url('/static/images/pexels-daniel-reche-718241-1556688.jpg');
    background-repeat: no-repeat;
    svg{fill: orange;}

}
header h1{
    font-variant: small-caps;
    font-weight: 500;
}
header div{
    display: flex;
    align-items: center;
    gap: 10px;
}
header .main-logs{
    gap: 30px;
}
header .main-logs a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
header .main-logs a:hover{
    color: orange;
}
header .main-logs a:first-child{
    color: orange;
}
header svg{
    width: 40px;
    height: 40px;
}
header .order a{
    text-decoration: none;
    padding: 8px 28px;
    background: orange;
    border: 2px solid orange;
    color: white;
    border-radius: 20px;
    text-align: center;
}
header .order a:hover{
    background: none;
    color: orange;
}
header .openBtn{
    display: block;
    cursor: pointer;
}
header .openBtn:hover div{
    background: orange;
}
header .openBtn div{
    height: 2px;
    width: 25px;
    background: white;
    margin: 5px;
    border-radius: 5px;
    transition: transform 0.5s ease, opacity 0.5s ease;
}
header .menu{
    position: absolute;
    top: 100%;
    height: 0px;
    width: 100%;
    display: block;
    background: black;
    color: white;
    overflow: hidden;
}
header .menu a{
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    margin: 5px 0;
    text-align: center;
    border: 1px solid transparent;
    text-transform: capitalize;
}
header .menu a:first-child,
header .menu a:hover{
    border: 1px solid orange;
    color: orange;
}


/* HEADER ANIMATIONS */
body.open header .menu{
    animation: openMenu 0.5s ease forwards;
}
@keyframes openMenu{
    to{height: 200px;}
}

body.close header .menu{
    animation: closeMenu 0.2s ease forwards;
}
@keyframes closeMenu{
    from{height: 200px;}
    to{height: 0px;}
}
body.open header .openBtn div:first-child{
    transform: translateY(5px) rotate(45deg);
}
body.open header .openBtn div:nth-child(2){
    opacity: 0;
}
body.open header .openBtn div:last-child{
    transform: translateY(-9px) rotate(-45deg);
}


/* MAIN FIRST SECTION */
main section:first-child .container{
    min-height: 100vh;
    max-height: 100vh;
    height: fit-content;
    background-image: url('/static/images/pexels-daniel-reche-718241-1556688.jpg');
    background-size: cover;
    background-position: 50% 80%;
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 100%);
    position: relative;
}
main section:first-child .container .content{
    height: fit-content;
    width: min(90%, 600px);
    margin-left: 9%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-shadow: 1px 1px 1px black;
}
main section:first-child .container .content h1{
    font-variant: small-caps;
    font-size: 3em;
}
main section:first-child .container .content p{
    line-height: 1.5;
    margin-top: 10px;
}
main section:first-child .container .content a{
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: white;
    padding: 8px 28px;
    border: 2px solid orange;
    background: orange;
    border-radius: 20px;
    width: fit-content;
}
main section:first-child .container .content a:hover{
    background: transparent;
    color: orange;
}



/* MAIN SECOND SECTION */
main section:nth-child(2) .cards{
    padding-top: 50px;
    width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
main section:nth-child(2) .cards .card{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    color: white;
    background: var(--grey-color);
}
main section:nth-child(2) .cards .card:hover img{
    scale: 1.1;
}
main section:nth-child(2) .cards .card a{
    display: flex;
    align-items: center;
    gap: 0px;
    padding: 8px 28px;
    background: orange;
    border: 2px solid orange;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    margin-top: 20px;
    width: fit-content;
}
main section:nth-child(2) .cards .card a:hover,
main section:nth-child(2) .cards .card a:hover svg{
    background: none;
    color: orange;
    fill: orange;
}
main section:nth-child(2) .cards .card p{
    font-size: 40px;
}
main section:nth-child(2) .cards .card p span{
    font-size: 20px;
    font-style: italic;
}
main section:nth-child(2) .cards .card h3{
    font-size: 30px;
    font-weight: 100;
    margin: 10px 0;
}
main section:nth-child(2) .cards .card img{
    width: 170px;
    object-fit: cover;
}
main section:nth-child(2) .cards .card .img-cont{
    border: 5px solid orange;
    border-radius: 50%;
    overflow: hidden;
}

main section:nth-child(2) .menu{
    padding-top: 100px;
}
main section:nth-child(2) .menu h3{
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    font-style: italic;
}
main section:nth-child(2) .menu .filters{
    width: fit-content;
    margin: auto;
    margin-top: 20px;
}
main section:nth-child(2) .menu .filters button{
    border: none;
    color: black;
    padding: 10px 20px;
    border-radius: 20px;
    background: none;
    cursor: pointer;
}
main section:nth-child(2) .menu .filters button:first-child,
main section:nth-child(2) .menu .filters button:hover{
    background: var(--grey-color);
    color: white;
}
main section:nth-child(2) .menu a#view{
    width: fit-content;
    padding: 8px 28px;
    background: orange;
    border: 2px solid orange;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    display: block;
    margin: 30px auto;
}
main section:nth-child(2) .menu a#view:hover{
    background: none;
    color: orange;
}
main section:nth-child(2) .menu .slides{
    padding-top: 50px;
    display: grid;
    width: 85%;
    margin: auto;
    gap: 20px;

    @media (width >= 30em){
        grid-template-columns: repeat(2, 1fr);
    }
    @media (width >= 70em){
        grid-template-columns: repeat(3, 1fr);
    }
}
main section:nth-child(2) .menu .slides .slide{
    background: var(--grey-color);
    color: white;
    border-radius: 10px;
    overflow: hidden;
}
main section:nth-child(2) .menu .slides .slide h4{
    font-size: 25px;
    font-weight: 500;
    color: white;
}
main section:nth-child(2) .menu .slides .slide .slide-text{
    padding: 20px 30px;
}
main section:nth-child(2) .menu .slides .slide .slide-text p{
    line-height: 1.5;
    margin-top: 10px;
    font-size: 15px;
}
main section:nth-child(2) .menu .slides .slide .slide-text .price{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
main section:nth-child(2) .menu .slides .slide .slide-text  .price p{
    margin-top: 0;
}
main section:nth-child(2) .menu .slides .slide .slide-text .price svg{
    width: 40px;
    height: 40px;
    padding: 10px;
    background: orange;
    fill: white;
    border-radius: 50%;
}
main section:nth-child(2) .menu .slides .slide .img-cont{
    background: rgb(241, 236, 236);
    min-height: 200px;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 40px;
}
main section:nth-child(2) .menu .slides .slide .img-cont img{
    width: 40%;
    object-fit: cover;
    display: block;
    margin: auto;
}


/* THIRD SECTION */
main section:nth-child(3){
    background: var(--grey-color);
    padding: 50px 0;
}
main section:nth-child(3) .content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    width: 80%;
    margin: auto;
    color: white;
}
main section:nth-child(3) .content img{
    width: 80%;
}
main section:nth-child(3) .content  h3{
    font-size: 30px;
    font-weight: 500;
    margin: 20px 0;
    font-variant: small-caps;
}
main section:nth-child(3) .content p{
    line-height: 1.5;
    font-style: 16px;
}
main section:nth-child(3) .content a{
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: white;
    padding: 8px 28px;
    border: 2px solid orange;
    background: orange;
    width: fit-content;
    border-radius: 20px;
}
main section:nth-child(3) .content a:hover{
    background: none;
    color: orange;
}

/* FOURTH SECTION */
main section:nth-child(4){
    width: 85%;
    margin: auto;
    padding-top: 50px;
}
main section:nth-child(4) .content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 20px;
}
main section:nth-child(4) img{
    width: 100%;
    height: 390px;
    object-fit: cover;
    border-radius: 10px;
}
main section:nth-child(4) h2{
    font-weight: 500;
    font-size: 2em;
}

main section:nth-child(4) form input{
    display: block;
    width: 100%;
    padding: 20px;
    margin: 20px 0;
    border: 1px solid black;
    outline: none;
    border-radius: 5px;
}
main section:nth-child(4) a{
    color: white;
    padding: 8px 28px;
    background: orange;
    border: 2px solid orange;
    border-radius: 20px;
    display: block;
    margin: 20px 0;
    width: fit-content;
}
main section:nth-child(4) a:hover{
    background: none;
    color: orange;
    text-decoration: none;
}
main section:nth-child(4) h2{
    /* text-align: center; */
    font-variant: small-caps;
    margin: 10vh 0 0 0;
}

main section:nth-child(4) .customers{
    padding-top: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
main section:nth-child(4) .buttons{
    width: fit-content;
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 30px auto;
}
main section:nth-child(4) .buttons button{
    border:2px solid orange;
    background: orange;
    color: white;
    font-size: 20px;
    padding: 5px 15px;
    border-radius: 50%;
    font-weight: 700;
}
main section:nth-child(4) .buttons button:hover{
    background: none;
    color: orange;
}
main section:nth-child(4) .customers .customer blockquote{
    background: var(--grey-color);
    color: white;
    padding: 20px;
    border-radius: 10px;
    footer{padding: 0; text-align: left;}
}
main section:nth-child(4) .customers .customer img{
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid orange;
}

/* FOOTER */
footer{
    background: var(--grey-color);
    color: white;
    padding: 100px 20px 50px 20px;
    text-align: center;
}
footer .sections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    margin: auto;
    text-align: center;

    @media (width >= 50em){
        grid-template-columns: repeat(3, 1fr);
        width: 90%;
    }
    @media (width >= 60em){
        grid-template-columns: repeat(3, 1fr);
        width: 80%;
    }
}
footer .sections section h3{
    margin: 20px 0;
    font-weight: 500;
    font-variant: small-caps;
}
footer .sections section p{
    line-height: 2;
}
footer .sections section .socials{
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
    margin: auto;
}
footer .sections section .socials a{
    padding: 5px;
    background: white;
    border-radius: 50%;

    svg{fill: var(--grey-color); width: 20px;}
}
footer .sections section .socials a:hover svg{
    fill: orange;
}
footer .sections section a{
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
    margin: 10px auto;
    color: white;
}
footer .sections svg{
    width: 30px;
    fill: white;
}
footer .credits{
    margin-top: 50px;
}

@media screen and (max-width: 760px) {
    header .main-logs, header .order{
        display: none;
    }    

    main section:first-child .container .content{
        margin-left: 5%;
        text-shadow: none;
    }
    main section:first-child .container .content h1{
        font-size: 30px;
    }

    /* SECOND SECTION */
    main section:nth-child(2) .cards{
        grid-template-columns: 1fr;
        width: 90%;
    }
    main section:nth-child(2) .cards .card h3{
        font-size: 25px;
    }
    main section:nth-child(2) .cards .card img{
        width: 130px;
    }
    main section:nth-child(2) .cards .card a{
        padding: 5px 20px;
        gap: 5px;
    }
    main section:nth-child(2) .menu .slides{
        grid-template-columns: 1fr;
        width: 90%;
    }
    main section:nth-child(2) .menu .filters{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
    /* THIRD */
    main section:nth-child(3) .content{
        grid-template-columns: 1fr;
    }
    main section:nth-child(3) a{
        color: orange;
    }

    /* FOURTH */
    main section:nth-child(4) .content{
        grid-template-columns: 1fr;
    }
    main section:nth-child(4) .customers{
        grid-template-columns: 1fr;
    }
    main section:nth-child(4) a{
        margin: 30px auto;
    }
    main section:nth-child(4) h2{
        text-align: center;
    }

    /* FOOTER */

    footer .sections{
        grid-template-columns: 1fr;
    }
    .loading::after{
        width: 30px;
        height: 30px;
        border-width: 3px;
    }
}

@media screen and (min-width: 760px) {
    header .openBtn, header .menu{
        display: none;
    }    
}