@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
*, html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    transition: 0.5s ease-out;
    font-family: "Roboto Serif", serif;
}
body{
    overflow: hidden;
    width: min();
}

body.light{
    color: black;
}
body.dark{
    color: white;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    color: white;
    padding: 20px 0;
}
header a{
    margin: 0 10px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}
header div{
    display: flex;
    align-items: center;
    gap: 20px;
    svg{fill: orange; width: 50px; height: 40px;}
}
header a:nth-child(1),
header a:hover{
    color: orange;
}
header div:last-child a{
    color: white;
    padding: 10px 20px;
    background: orange;
    border: 2px solid orange;
    font-weight: 700;
    border-radius: 20px;
    text-transform: none;
    font-variant: small-caps;
    transform: translate(0);
}
header div:last-child a:hover{
    background: none;
    color: orange;
}
header nav{
    position: relative;
}
header nav .menu{
    border: 2px solid red;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100vw;
    display: none;
}
header nav .menu a{
    display: block;
    margin: 10px 0;
    background: none;
    border: none;
    text-align: center;
}
header nav .openBtn{
    display: block;
    cursor: pointer;
}
header nav .openBtn:hover div{
    background: orange;
}
header nav .openBtn div{
    background: white;
    margin: 5px;
    height: 2px;
    width: 20px;
    display: block;
}

/* MAIN FIRST SECTION */
main section:first-child{
    min-height: 80vh;
    height: 100vh;
    margin-top: -80px;
    background-position: center;
    background-size: cover;
    background-position: 10% 60%;
    background-repeat: no-repeat;
    background-image: url('/static/images/pexels-daniel-kendy-takeda-bueno-2149635162-30715170.jpg');
}
main section:first-child .container{
    display: grid;
    grid-template-columns: repeat(3, 100%);
    align-items: center;
    height: 100vh;
}
main section:first-child .container.to-second{
    animation: second 1s ease forwards;
}
@keyframes second{
    to{transform: translateX(-100%);}
}
main section:first-child .container.to-third{
    animation: third 1s ease forwards;
}
@keyframes third{
    to{transform: translateX(-200%);}
}
main section:first-child .content{
    color: white;
    width: min(90%, 600px);
    line-height: 1.5;
    padding-left: 8%;
}
main section:first-child .content h1{
    color: white;
    line-height: 1.2;
    font-weight: 500;
    font-variant: small-caps;
}
main section:first-child .content h1 span{color: orange; font-style: italic;}
main section:first-child .content p{
    margin: 20px 0;
}
main section:first-child .content a{
    color: white;
    padding: 8px 40px;
    background: orange;
    border: 2px solid orange;
    border-radius: 20px;
    text-decoration: none;
    width: fit-content;
    display: block;
    margin-top: 20px;
    font-variant: small-caps;
}
main section:first-child .content a:hover{
    background: none;
    color: orange;
}

@media screen and (max-width: 40em) {
    header .main-logs{
        display: none;
    }    
    h1{font-size: 25px;}
    h2{font-size: 20px;}
    p{font-size: 16px;}
}